*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
}

.half1{
width: 40%;
display: flex;
align-items: center;
}

span{
    color: #ff304f;
}

.half1 h1{
    margin-left: 1rem;
    font-family: 'Oswald', sans-serif;
}



.half2{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}

.half2 a{
    margin: 1.2rem ;
    list-style: none;
    text-decoration: none;
    color: #ff304f;
} 

video{
    height: 10rem;
    width: 20rem;
}

header{
    background-color: #faee1c;
    height: 4rem;
    display: flex;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 1rem;

}

.container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}

.shows{
    margin: 0.5rem;
    background-color: black;
    height: 15rem;
    width: 26rem;
    border-radius: 10px;
    margin-left: 1.2rem;

    
}

#jk{
   position: relative;
    height: 13em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position-y: -120px;
    background-size: cover;
    color: white;
    font-family: 'Oswald', sans-serif;



}

#jk a{
    color: white;
}



#jk ::before{
    content: ' ';
    position: absolute;
   background-image:url('https://dwgkfo5b3odmw.cloudfront.net/manga/thumbs/thumb-81388-JujutsuKaisen0_C1_Web-3-gaHQjd4vAwqC7KFdvdYQyg.jpg') ;
   background-repeat: no-repeat;
   background-position-y: -120px;
   background-size: cover;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   opacity: 0.3;
   border-radius: 10px;
   
 

} 

#aot{ position: relative;
    height: 13em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position-y: -120px;
    background-size: cover;
    color: white;
    font-family: 'Oswald', sans-serif;
}

#aot ::before{
    content: ' ';
    position: absolute;
   background-image:url('https://img.cinemablend.com/quill/f/d/0/2/0/2/fd0202473dcdc8eec6cbd4c6edc40d43ab610b12.jpg') ;
   background-repeat: no-repeat;
   
   background-size: cover;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   opacity: 0.3;
     
    
    } 
  



@media (max-width:500px){
    .shows{
      margin-left: 1rem;
      height: 13rem;
      width: 25rem;
    }
}

